.BannerNav {
  background: url('https://i.imgur.com/HguV1ax.jpg'), url('./Img/priscilla-du-preez-AE-HiADOsW4-unsplash.jpg') center;
  background-size: cover;
}

.Banner-Section {
  position: relative;
  height: 750px;
}